.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;

}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;

}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 单行文字溢出省略号显示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.lifeservice {
    /* 溢出的盒子部分切掉 */
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;

}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    /* 注意居中写在此处,错过 */
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat;

}

/*自己加的图标完善 start*/
.lifeservice ul li:nth-child(1) i {
    background-position: -19px -15px;
}

.lifeservice ul li:nth-child(2) i {
    background-position: -79px -16px;
}

.lifeservice ul li:nth-child(3) i {
    background-position: -142px -16px;
}

.lifeservice ul li:nth-child(4) i {
    background-position: -207px -16px;
}

.lifeservice ul li:nth-child(5) i {
    background-position: -17px -89px;
}

.lifeservice ul li:nth-child(6) i {
    background-position: -80px -87px;
}

.lifeservice ul li:nth-child(7) i {
    background-position: -141px -88px;
}

.lifeservice ul li:nth-child(8) i {
    background-position: -207px -88px;
}

.lifeservice ul li:nth-child(9) i {
    background-position: -16px -158px;
}

.lifeservice ul li:nth-child(10) i {
    background-position: -78px -158px;
}

.lifeservice ul li:nth-child(11) i {
    background-position: -142px -159px;
}

.lifeservice ul li:nth-child(12) i {
    background-position: -207px -159px;
}

/* 降价右上角图标 */

.jiangjia {
    position: relative;
}

.jiangjia div img {
    position: absolute;
    top: 0;
    right: 0;
}

/*自己加的图标完善 end*/

.bargin {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    /* 图片居中的方法 */
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

/* 限制好宽高，防止上传时出错 */
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

/* 使用-n+3从第三个往前面数 */
.recom_bd ul li:nth-child(-n+3)::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    /* margin-top: 25px; */
    color: #cc353e;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;

}

.tab_list_item>div {
    float: left;
    height: 361px;
}

/* tab_content列的宽度 */
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    /* 让盒子内的内容水平居中 */
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    margin-right: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.boder_bottom {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}